/* padding */
.p-20{
padding: 20px;
}
.pt-20{
    padding-top: 20px;
}
.pb-20{
    padding-bottom: 20px;
}
.ps-20{
padding-left: 20px;
}
.pe-20{
    padding-right: 20[x];
}
/* margin */
.m-20{
    margin: 20px;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.ms-20{
margin-left: 20px;
}
.me-20{
    margin-right: 20px;
}
/* coloring */
.bg-eee{
    background-color: #eee;
}
.bg-white{
    background-color: white;
}
.bg-black{
    background-color: black;
}
/* centring elements */
.f-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-center{
    margin: 0 auto;
}
.p-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
/* x axis centering */
.x-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}
/* Y axis centering */
.y-center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}