body{
    font-family: "Open Sans",sans-serif;
    margin: 0;
}
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
*:focus{
    outline: none;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--blue-alt-color);
}
ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.btn-shape{
    padding: 4px 10px;
    border-radius: 6px;
    cursor: pointer;
}
.page{
    display: flex;
    background-color: #f1f5f9;
    min-height: 100vh;
}
/* Start sidebar */
.active{
    background-color: #0D69D5;
    border-radius: 8px;
}
.active>a>i,.active> a > span{
    color: white;
}
.sidebar{
    background-color: white;
    position: relative;
    padding: 20px;
    width: 250px;
    box-shadow:  0 0 10px #DDD;
}
.sidebar>:first-child{
    position: relative;
    margin-top: 0;
    text-align: center;
    margin-bottom: 50px;
}
.sidebar>:first-child,.sidebar>:first-child::before,.sidebar>:first-child::after{
position: fixed;
left: calc(250px /2 - 50px);
}
.sidebar ul{
    position: fixed;
    top: 100px;
}
.sidebar ul li a{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: black;
    border-radius: 6px;
    padding: 10px;
    transition: 0.3s;
    margin-bottom: 5px;
}
.sidebar ul li a:hover{
    background-color: #2276d6;
    border-radius: 8px;
    color: white;
}
.sidebar ul li span{
    font-size: 14px;
    margin-left: 10px;
}
.sticky{
    -webkit-animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
    position: fixed;
    top: 0;
    width: calc(100% - 270px);
    z-index: 999;
    transition: all 0.3s ease 0s;
    border-bottom: 1px solid #F2F4F7;
    background: #fff;
    box-shadow:  4px 3px 10px #ddd;

}
@keyframes fadeInDown{
    0%{
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
    }
    100%{
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    }
}
@media(max-width:767px){
    .sidebar{
        width: 55px;
        padding: 10px;
    }
    .sticky{
        width: calc(100% - 95px);
        left: calc(95 - 100%);
    }
    .sidebar ul li span{
        display: none;
    }
.sidebar>:first-child{
    font-style: 13px;
    margin-bottom: 15px;
    }
    .sidebar>:first-child{
    left: 5px;
    top: 30px;
    }
}
@media(min-width:768px){
.sidebar>:first-child::before,
.sidebar>:first-child::after{
    content: "";
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.sidebar>:first-child::before{
    width: 88px;
    height: 2px;
    bottom: -20px;
}
.sidebar>:first-child::after{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    bottom: -30px;
    border: 4px solid white;
}


}
/* End sidebar */
/*  Start Head  */
.content{
    width: 100%;
    overflow: hidden;
}
.head{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.search {
    position: relative;
    padding: 10px;

}
.search input{
    border: 1px solid #eee;
    border-radius: 10px;
    padding-left: 30px;
    width: 160px;
    transition: 0.3s width;
}
.search input:focus{
    width: 200px;
}
.search input:focus::placeholder{
    opacity: 0;
}
.search::before{
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
    padding-left: 5px;
    z-index: 9999;
}
.icons{
    display: flex;
    align-items: center;
}
.notification{
    position: relative;
}
.notification::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--red-color);
    top: -5px;
    right: -5px;
}
.head .icons img{
    width: 32px;
    height: 32px;
    margin-left: 15px;
}
/*  End Head  */
.title{
    position: relative;
    margin: 20px 20px 40px;
}
.title::before,.title::after{
    content: "";
    position: absolute;
    height: 3px;
    bottom: -10px;
    left: 0;
}
.title::before{
    background-color: white;
    width: 120px;
}
.title::after{
    background-color: black;
    width: 40px;
}
/* Start Profile */
.profile-page{
    padding: 20px;
}
.profile{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px 0;
}
.profile h4{
padding: 20px 0 20px 20px;
margin: 0;
color: var(--grey-color);
}
.level{
    height: 6px;
    overflow: hidden;
    margin: auto;
    width: 70%;
    border-radius: 6px;
    position: relative;
    background-color: #eee;
    margin-bottom: 1rem;
}
.level span{
    width: 70%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 6px;
}
.gray-color{
    color: var(--grey-color);
}
.profile>:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}
.profile>:nth-child(2){
        width:75%;
        border-left: 1px solid #eee;
}
.general-Info,.personal-Info,.job-info,.billing-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;
}
.profile>:nth-child(2)>:nth-child(1):hover,.profile>:nth-child(2)>:nth-child(2):hover,.profile>:nth-child(2)>:nth-child(3):hover,.profile>:nth-child(2)>:nth-child(4):hover{
    background-color: #eeeeee8e;
    transition: .5s;
    cursor: pointer;
}

.general-Info,.personal-Info,.job-info{
    border-bottom: 1px solid #eee;
}
.profile img{
    width: 120px;
    height: 120px;
}
.fa-star{
    color: #F59E0B;
}
.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue-color);
}
.general-Info > div ,.personal-Info >  div ,.job-info > div,.billing-info > div{
    width: calc(100%/4);
    padding-right: 10px;
}
@media (max-width:992px){
.profile{
    flex-direction: column;
}
.profile>:first-child{
    width: 100%;
}
.profile>:nth-child(2){
    border-left: none;
}
.general-Info > div ,.personal-Info >  div ,.job-info > div,.billing-info > div , label{
    margin: 10px 0;
    font-size: 14px;
    text-align: center;

}
.general-Info > div ,.personal-Info >  div ,.job-info > div,.billing-info > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-right: 0px;
}
}
.general-Info, .personal-Info, .job-info, .billing-info{
    justify-content: center;
}
.profile h4{
    text-align: center;
}

/* End Profile */

/* Start Skills And Activities */
.skills-activities{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.skills{
    flex-grow:1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.skills>:nth-child(2){
    color: var(--grey-color);
    font-size: 15px;
}
.activities{
    flex-grow: 2;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.skills ul{
    margin: 0;
}
.skills ul li span:not(:last-child) {
    margin-right: 5px;
}
 .skills ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.skills ul li {
    padding: 15px 0;
}
.skills ul li span{
    display: inline-flex;
    padding: 4px 10px;
    background-color: #eee;
    border-radius: 6px;
    font-size: 14px;
}
.activities>:nth-child(2){
    color: var(--grey-color);
    font-size: 15px;
}
.profile-page .activity:not(:last-of-type) {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.activity {
    display: flex;
    align-items: center;
}
.info span,.date span{
    display: block;
    margin-bottom: 10px;
}
.info>:nth-child(2),.date>:nth-child(2){
    color: var(--grey-color);
}
.profile-page .activity img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}
.profile-page .activity .date {
    margin-left: auto;
    text-align: right;
}
@media(max-width:992px){
    .skills ul li{
        display: flex;
        justify-content: center;
    }
    .skills-activities{
        flex-direction: column;
    }
    .activity {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .info span, .date span{
        margin-top: 10px;
    }
    .profile-page .activity .date{
        margin: 0;
        text-align: center;
    }
}
/* End Skills And Activities */
